/* Variables color sitio */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* variables de colores */

$color-font: #22292f;
$color-primary: #143463;
$color-secondary: #5b6b82;

$color-bege: #edeae3;
$color-white: #ffffff;
$color-background: #f9f8f6;

$color-site-orange: #b07c4b;

