/* Header Contact */

.header-contact{
  color: #fff;
  background: #1a243fcc;

  a{
    color: #fff;
    text-decoration: none;
  }

  .container{

    @include small-down {
      font-size: 1rem;
      display: block;
      padding: 1rem 0;
      text-align: center;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  /* Color naranja oscuro para los iconos */
  .fa, .fab, .fas, .far, .fal, .fad, .fa-solid, .fa-brands, .fa-regular, .fa-light, .fa-duotone {
    color: $color-site-orange !important; /* Naranja oscuro */
  }

  /* Cambiar a un tono más oscuro al pasar el mouse */
  .fa:hover, .fab:hover, .fas:hover, .far:hover, .fal:hover, .fad:hover {
    color: $color-site-orange !important; /* Naranja más oscuro */
  }

}
